<ion-view view-title="MadReceipts - Sign-In">

  <ion-content>






    <div class="item item-text-wrap">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div>

        <button class="button button-block button-dark" ng-click="signIn(user.email, user.password)">
          Sign-In
        </button>
        <div align="right">

          <form method="post" action="https://walletapplication.herokuapp.com/api/facebook/login">
            <input type="hidden" name='redirectTo' id='redirectTo' type='text' value='{{redirectUrl}}'>
            <!--<input type="hidden" name='redirectTo' id='redirectTo' type='text' value='{{redirectPage}}'>-->
            <input class="button icon ion-social-facebook-outline button-block button-positive" type="submit" name="send" value="Login with Facebook">
          </form>
        </div>

        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </div>
      </div>


  </ion-content>
</ion-view>
