<ion-view view-title="My Receipts List" ng-init="getReceipts()">
  <ion-nav-buttons side="left">
    <button class="button icon ion-home" ng-click="goHome()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-log-out" ng-click="signInOut()">
      Log in / out
    </button>
  </ion-nav-buttons>

  <ion-floating-menu  has-footer="true" menu-open-color="#ffc900" menu-color="#444" menu-icon="ion-android-cloud">
  <ion-floating-item icon="ion-android-upload" button-color="#444" click="uploadReceipts()"></ion-floating-item>
  <ion-floating-item icon="ion-android-download" button-color="#444" click="downloadReceipts()"></ion-floating-item>
</ion-floating-menu>


  <ion-content>

    <h3>Receipts no: {{receiptsNo}}</h3>
    <h2>{{errorMessage}}</h2>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="receipt in receipts"
                type="item-text-wrap" href="#/tab/receipts/{{receipt._id}}">
        <img ng-src="{{receipt.att}}">

        <h2>Company: {{receipt.companyName}}</h2></br>

        <p><b>Category:</b> {{receipt.category}}</p>
        <p><b>Date:</b> {{receipt.dateReceipt}}</p>
        <p><b>Total:</b> {{receipt.price}}</p>
        <p><b style="color: red">{{receipt.online==0 ? 'Receipt is offline':''}}</b>
          <b style="color: limegreen">{{receipt.online==1 ? 'Receipt is online' : ''}}</b></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<button class="button ion-android-delete" ng-click="removeReceipt(receipt._id)"></button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
