<ion-view view-title="Statistics">
  <ion-nav-buttons side="left">
    <button class="button icon ion-home" ng-click="goHome()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-log-out" ng-click="signInOut()">
      Log in / out
    </button>
  </ion-nav-buttons>
  <ion-content>


    <center>


      <div class="card" style="max-width: 1000px">
        <div class="item item-divider item-dark">
          Total by date
        </div>
        <div class="item item-text-wrap">
          <div class="item item-text-wrap">
            <div id="dateDiv" class="span5">
              <canvas id="date-chart"></canvas>
            </div>
          </div>
          <h6>Total of all receipts: {{totalSum}}</h6>
        </div>
      </div>

      <div class="card" style="max-width: 1000px">
        <div class="item item-divider item-energized">
          Number of receipts by category
        </div>
        <div class="item item-text-wrap">
          <div id="categoryDiv" class="span5">
            <canvas id="category-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="card" style="max-width: 1000px">
        <div class="item item-divider item-dark">
          Total by company
        </div>
        <div class="item item-text-wrap">
          <div id="companyDiv" class="span5">
            <canvas id="company-chart"></canvas>
          </div>

        </div>
      </div>
    </center>

  </ion-content>
</ion-view>
