<ion-view view-title="Statistics">
  <ion-nav-buttons side="left">
    <button class="button icon ion-home" ng-click="goHome()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-log-out" ng-click="signInOut()">
      Log in / out
    </button>
  </ion-nav-buttons>
  <ion-content>


   <!-- <canvas id="updating-chart"></canvas>-->


    <div class="card">
    <div class="item item-divider item-dark">
      Number of receipts by category
    </div>
    <div class="item item-text-wrap">
      <div id="categoryDiv" class="span5">
        <canvas id="category-chart"></canvas>
      </div>
    </div>
  </div>

    <div class="card">
      <div class="item item-divider item-energized">
        Total by date
      </div>
      <div class="item item-text-wrap">
        <div class="item item-text-wrap">
          <div id="dateDiv" class="span5">
            <canvas id="date-chart"></canvas>
          </div>
        </div>
        <h6>Total of all receipts: {{totalSum}}</h6>
      </div>
      </div>


      <div class="card">
        <div class="item item-divider item-dark">
          Total by company
        </div>
        <div class="item item-text-wrap">
          <div id="companyDiv" class="span5">
            <canvas id="company-chart"></canvas>
          </div>

        </div>
      </div>


  </ion-content>
</ion-view>
